setuptools
wheel
build

fastapi
streamlit
streamlit-extras
pytest
pyyaml
langchain
langchain[openai,groq,mistralai]
pydantic-settings

#markdown
mistune
beautifulsoup4
markdownify

markdown_pdf
linkify-it-py
markdown-it-py[linkify,plugins]
pdfplumber
tabulate

streamlit-quill
-e .